<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>

<body>
    <section>
        <form action="/login" method="post">
            <h1>Login</h1>
            
            <!-- Hiển thị thông báo lỗi -->
            <div th:if="${error}" class="alert alert-danger" role="alert" style="color: red;">
                <span th:text="${error}"></span>
            </div>
            
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" name="email" required>
                <label for="email">Email</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" name="password" required>
                <label for="password">Password</label>
            </div>
            <div class="forget">
                <label><input type="checkbox" name="remember">Remember Me</label>
                <a href="#">Forget Password</a>
            </div>
            <button type="submit">Login</button>
            <div class="register">
                <p>Don't have an account? <a href="/signup">Register</a></p>
            </div>
        </form>
    </section>
</body>
</html>
